---
import { BlogAuthForm } from '../../components/blogs/auth/BlogAuthForm';
import { CULTUREA_YEAR } from '../../constants';
import Layout from '../../layouts/Layout.astro';
import { Section } from '../../components/shared/Section';
---

<Layout title={`Culturea ${CULTUREA_YEAR} - Administrator`}>
  <Section id="blog - admin" className="bg-beige">
    <BlogAuthForm client:only="react" />
  </Section>
</Layout>
