---
import { getDocs, limit, orderBy, query } from 'firebase/firestore';
import { BlogList } from '../../components/blogs/BlogList';
import { Section } from '../../components/shared/Section';
import { CULTUREA_YEAR } from '../../constants';
import Layout from '../../layouts/Layout.astro';
import { blogCollectionRef } from '../../config/firebase';
import type { TBlogItem } from '../../lib/types/TBlogItem';

const blogQueryOrderedLimit = query(
  blogCollectionRef,
  orderBy('createdAt', 'desc'),
  limit(20),
);

const snapshot = await getDocs(blogQueryOrderedLimit);
const blogs = snapshot.docs.map((doc) => ({
  id: doc.id,
  ...doc.data(),
})) as TBlogItem[];
---

<Layout title={`Culturea ${CULTUREA_YEAR} - Blog`}>
  <Section id="blog" className="bg-beige min-h-screen">
    <h2 class="text-xl md:text-2xl lg:text-3xl mb-4 md:mb-8 text-center">
      Články
    </h2>
    <BlogList client:load blogs={blogs ?? []} />
  </Section>
</Layout>
