.ql-container {
  height: auto;
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border: 1px solid black;
}

.ql-toolbar.ql-snow {
  display: flex;
}

.ql-toolbar.ql-snow {
  border-radius: 0.5rem 0.5rem 0 0;
}

.ql-container.ql-snow {
  border-radius: 0 0 0.5rem 0.5rem;
}

.ql-editor {
  max-height: 200px;
}

.ql-toolbar.ql-snow .ql-formats {
  display: flex;
}
