@keyframes marquee {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: inline-flex;
  animation: marquee 40s linear infinite alternate;
}
