.swiper {
  width: 100%;
  margin-top: 4rem;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  justify-self: center;
  padding: 0 1rem;
}

.swiper-button-prev {
  background-image: url('../assets/img/icons/swiper-arrow-left.svg');
  left: 0;
}

.swiper-button-next {
  background-image: url('../assets/img/icons/swiper-arrow-right.svg');
  right: 0;
}

.swiper-button-next, .swiper-button-prev {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.swiper-button-next::after, .swiper-button-prev::after {
  display: none;
}
