---
import BlogAuthWrapper from '../components/blogs/auth/BlogAuthWrapper';
import BlogList from '../components/blogs/BlogList';
import Section from '../components/shared/Section';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Culturea 2023 - Blogy">
  <BlogAuthWrapper client:only>
    <Section sectionId="blogy">
      <h2 class="text-xl md:text-2xl lg:text-3xl mb-4 md:mb-8">Blogy</h2>
      <BlogList client:only />
    </Section>
  </BlogAuthWrapper>
</Layout>
