---
import Section from '../components/shared/Section';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Culturea 2023">
  <Section sectionId="cookies" sectionName="Cookies">
    <div>
      <h4>Co jsou to cookies?</h4>
      <p>
        Cookies jsou malé soubory, které webové stránky ukládají ve vašem
        prohlížeči. Cookies běžně slouží k rozlišování jednotlivých uživatelů,
        ukládají se do nich uživatelské předvolby nebo anonymní informace o tom,
        které části našeho webu navštívíte. Cookies využívá pro svou činnost
        naprostá většina webových stránek.
      </p>
    </div>
    <div>
      <h4>Jaké cookies na našem webu používáme?</h4>
      <p>
        Nezbytné | Jedná se o krátkodobé cookies, které zajišťují správnou
        funkci našich stránek.
      </p>
      <p>
        Funkční | Funkční soubory cookie pomáhají vykonávat určité funkce, jako
        je sdílení obsahu webových stránek na platformách sociálních médií,
        shromažďování zpětné vazby a další funkce třetích stran.
      </p>
      <p>
        Statistické | Tyto cookies nám pomáhají porozumět, jak naše webové
        stránky používáte. Jsou anonymní a sdělují nám informace sloužící k
        dalšímu vylepšování webu.
      </p>
      <p>
        Marketingové | Marketingové cookies nám umožňují zobrazovat relevantní
        reklamu návštěvníkům našeho webu a vyhodnocovat její úspěšnost.
      </p>
    </div>
    <div>
      <h4>Jak můžete upravit využívání cookies?</h4>
      <p>
        Ukládání cookies můžete upravit hned při první návštěvě webových
        stránek. Pokud web ukládá jiné než nezbytné cookies, lze je odmítnout,
        povolit všechny nebo vybrat jen některé. Své preference nastavení
        cookies uložíte prostřednictvím lišty zobrazené v dolní části stránky.
      </p>
      <p>
        Dříve uložené cookies soubory můžete ze svého prohlížeče vymazat úplně.
        Zpravidla to lze provést v historii navštívených stránek. Ukládání
        cookies jde blokovat i prostřednictvím nastavení webového prohlížeče.
        Více informací o blokování ukládání cookies naleznete na stránkách
        poskytovatele vašeho prohlížeče.
      </p>
    </div>
  </Section>
</Layout>

<style>
  div {
    margin-bottom: 1rem;
  }
  h4 {
    font-size: 1.4rem;
    text-align: left;
    margin-bottom: 0.8rem;
  }
  p {
    margin-bottom: 0.6rem;
  }
</style>
