---
import Layout from '../layouts/Layout.astro';

import { MediaList } from '../components/media/MediaList';
import { Section } from '../components/shared/Section';

import { mediaItems } from '../../src/data/mediaDownloads';

import '../styles/headingStyles.css';
import { CULTUREA_YEAR } from '../constants';
---

<Layout title={`Culturea ${CULTUREA_YEAR}`}>
  <Section sectionId='text'>
    <p class="w-full max-w-screen-2xl mx-auto text-xl px-10">
      Děkujeme za Váš zájem o kulturně-cestovatelský festival Culturea. 
      Rádi Vám poskytneme veškeré informace, odpovíme na dotazy nebo zašleme kvalitní fotografie. 
      Neváhejte nás, prosím, kontaktovat na <b>pr@culturea.cz</b>.
    </p>
  </Section>
  <Section sectionId="media-downloadss" sectionName="KE STAŽENÍ">
    <MediaList mediaList={mediaItems} />
  </Section>
  <section
  class="flex flex-col items-center my-12 lg:my-16"
  >
    <h2 class="text-center mb-8 xl:mb-12">
      <a href="mailto:pr@culturea.cz">Kontakt pro novináře</a> 
    </h2>
  </section>   
  </Section>
</Layout> 
