---
import MediaList from '../components/media/MediaList';
import Section from '../components/shared/Section';
import Layout from '../layouts/Layout.astro';

import { mediaItems } from '../../src/data/mediaDownloads';

import '../styles/headingStyles.css';
---

<Layout title="Culturea 2023">
  <Section sectionId="media-downloadss" sectionName="KE STAŽENÍ">
    <MediaList mediaList={mediaItems} />
  </Section>
  <Section sectionId="contact" sectionName="KONTAKT PRO NOVINÁŘE">
    <></>
  </Section>
</Layout>
