---
import Layout from '../layouts/Layout.astro';

import { Section } from '../components/shared/Section';

import '../styles/headingStyles.css';

import { CULTUREA_YEAR } from '../lib/constants';
---

<Layout title={`Culturea ${CULTUREA_YEAR}`}>
  <Section
    sectionId="partners"
    sectionName="PARTNEŘI"
    slot="HeroSection"
    className="text-white p-40"
  >
    <p>
      Děkujeme všem našim partnerům. Vážíme si, že s cultureo cestujete společně
      s námi.
    </p>
  </Section>
</Layout>
