---
import PartnerList from '../components/partners/PartnerList';
import Section from '../components/shared/Section';
import Layout from '../layouts/Layout.astro';
import { HeroSection } from '../components/shared/HeroSection';


import { partnerList } from '../../src/data/partners';

import '../styles/headingStyles.css';
---

<Layout title="Culturea 2024">
  <Section sectionId="partners" sectionName="PARTNEŘI" slot='HeroSection' className='text-white p-40'>
    <div>

    </div>
    <div>
      
    </div>
    <p>Děkujeme všem našim partnerům. Vážíme si, že s cultureo cestujete společně s námi.</p>
  </Section>
</Layout>

<style></style>
